*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--Montserrat);
    font-size: var(--fs-s);
    background-color: var(--bleu-foncé);
    color: var(--blanc);
    font-weight: regular;
}

h1 {
    font-size: var(--fs-xl);
    font-family: var(--Cinzel);
    font-weight: 700;
    color: var(--blanc);
}

h2 {
    font-size: var(--fs-l);
    font-family: var(--Cinzel);
    font-weight: 700;
    line-height: 100%;
    color: var(--blanc);
    padding-top: var(--space3x); 
    padding-left: var(--space2x);
    padding-right: var(--space2x);
}

h2::after {
    content: "";
    display: block;
    background-color: var(--cyan);
    width: 236.365px;
    height: 1.5px;
    margin-top: 7px;
}

h3 {
    padding-left: var(--space2x);
    padding-right: var(--space2x);
    font: var(--Montserrat);
    font-size: var(--fs-xs);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--blanc);
    margin-bottom: 0;
}

h4 {
    color: var(--blanc);
    padding-left: var(--space2x);
    padding-right: var(--space2x);
    font-family: var(--Cinzel);
    font-size: var(--fs-l);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
    margin-top: 16px;
}

p {
    padding-left: var(--space2x);
    padding-right: var(--space2x);
    font-family: var(--Montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.presentation__text {
    font: var(--Montserrat);
    font-size: var(--fs-m);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
    margin-top: var(--space30);
    color: var(--gris);
    padding-left: var(--space2x);
    padding-right: var(--space2x);
}

button{
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
}
.img {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:red /* Adjust the color and opacity as needed */
    pointer-events: none; /* Ensures the overlay does not interfere with image interactions */
}