/**
* Accordeon
*/
details {
    position: relative;
    min-width: 100px;
    transition: all 0.3s;
    display: block;
}

details[open] {
    transition-duration: 0.3s;
    display: block;
    width: 100%;
}

.accordeon {
    display: grid;
    width: auto;
    gap: 5px;
}

.accordeon__img {
    width: auto;
    height: auto;
    border-radius: 15px;
}

summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    background-color: #351e60;
    padding: 30px 60px 30px 30px;
    border-radius: 20px 20px 20px 20px;
    width: auto;
    margin-left: var(--space2x);
    margin-right: var(--space2x);
}

.accordeon__texte {
    background-color: #351e60;
    border-radius: 0px 0px 20px 20px;
    width: auto;
    margin-left: var(--space2x);
    margin-right: var(--space2x);
    margin-top: -20px;
}

details>summary {
    list-style: none;
}

details>div {
    text-align: left;
    padding: 0px 10px 10px 10px;

}

details>summary::-webkit-details-marker {
    display: none;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid var(--cyan);
    margin-left: 10px;
    margin-right: 10px;
}

details[open] .arrow {
    transform: rotate(90deg);
    transition-duration: 2s;
    border-left: 20px solid var(--rose);
}

.accordeon__texte-title {
    font-size: var(--fs-m);
    font-family: var(--Cinzel);
    font-weight: 600;
    color: var(--blanc);
    margin: 0;
}

.accordeon__realisateur {
    font-size: 16px;
    font-family: var(--Montserrat);
    font-weight: 500;
    color: var(--blanc);
    
}

p {
    color: var(--gris);
}