.hero{
    padding-top: var(--space6x);
    background: linear-gradient(180deg, #fd0d919a 0%, var(--bleu-foncé) 100%);
}

.hero__title {
    text-align: center;
    padding-bottom: 150px;
    line-height: 100%;
}