.section{
    justify-content: center;
    border-radius: 20px;
    background: var(--fond-article);
    display: flex;
    width: auto;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: var(--space3x);
    margin-left: var(--space2x);
    margin-right: var(--space2x);
}

